
body{
    position: relative;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
}

/* #headerTableCustom
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: aquamarine;
} */

main 
{
    background-color: white;
}

#listTable {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.displayTable
{
    margin: 5px;
    width: 48.7%;
    /* border: 1px solid floralwhite; */
}

